/* 头部区域 */

header {
    height: 84px;
    border-bottom: 2px solid #c81523;
}

header .logo {
    padding-top: 18px;
}

.registeraera {
    margin-top: 20px;
    height: 522px;
    border: 1px solid #aaa;
}

.registeraera h3 {
    padding: 0 10px;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid #ccc;
    background-color: #ececec;
}

.registeraera h3 .login {
    float: right;
    font-size: 14px;
}

.reg_form {
    width: 600px;
    margin: 50px auto 0;
}

.reg_form ul li {
    margin-bottom: 20px;
}

.reg_form ul li label {
    display: inline-block;
    width: 88px;
    text-align: right;
}

.reg_form ul li .inp {
    width: 242px;
    height: 37px;
    border: 1px solid #ccc;
}

.reg_form ul li .error {
    color: #c81523;
}

.reg_form ul li .error i {
    display: inline-block;
    margin-top: -2px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background: url("../images/error.png") no-repeat;
}

.reg_form ul li .success {
    color: green;
}

.reg_form ul li .success i {
    display: inline-block;
    margin-top: -2px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background: url("../images/success.png") no-repeat;
}

.safe {
    padding-left: 106px;
}

.safe em {
    padding: 0 22px;
    color: #fff;
}

.safe .ruo {
    background-color: #de1111;
}

.safe .zhong {
    background-color: #40b83f;
}

.safe .qiang {
    background-color: #f79100;
}

.reg_form .agree {
    padding-left: 95px;
}

.reg_form .agree input {
    vertical-align: middle;
}

.reg_form .agree a {
    color: #1ba1e6;
}

.reg_form .btn {
    margin: 30px 0 0 100px;
    width: 200px;
    height: 34px;
    font-size: 14px;
    color: #fff;
    background-color: #c81523;
}

.w #re_footer {
    height: 0;
    background-color: #fff;
}