body {
  min-width: 320px;
  max-width: 750px;
  margin: 0 auto;
  height: 1200px;
}
@media screen and (min-width: 750px) {
  html {
    font-size: 37.5px !important;
  }
}
.header {
  height: 2.133333rem;
  border-bottom: 1px solid #EAEAEA;
  text-align: center;
  line-height: 2.133333rem;
  font-size: 0.933333rem;
  color: #1c1c1c;
}
.nav {
  display: flex;
  flex-wrap: wrap;
}
.nav .item {
  width: 33.333%;
}
